# Ignore raw data
fastq_files/

# Ignore local or custom config files
config/config_lemaylab.yaml

# Ignore sample_sheet.txt
sample_sheet.txt

# Ignore .snakemake
.snakemake/

# Ignore Jupyter checkpoint files
.ipynb_checkpoints/
**/.ipynb_checkpoints/
__pycache__/
*.pyc
scripts/envs/. scripts/envs/.. scripts/envs/.ipynb_checkpoints
