# Ignore raw data
fastq_files/

# Ignore test output
bowtie2_output/
fastqc_output/
fastqc_summary/
fastp_output/
megahit_output/
pyrodigal_output/
bwa_output/
rundcan_output/
logs/
aggregated_cazyme_family_TPM.tsv
muc2plant.tsv
rcalc_muc2plant.tsv

# Ignore local or custom config files
config/config_lemaylab.yaml

# Ignore sample_sheet.txt
sample_sheet.txt

# Ignore .snakemake
.snakemake/

# Ignore Jupyter checkpoint files
.ipynb_checkpoints/
**/.ipynb_checkpoints/
__pycache__/
*.pyc
scripts/envs/. scripts/envs/.. scripts/envs/.ipynb_checkpoints
